<html>
    <head>
        <%- include("adminHeader")-%>
        <style>
          
            #personal{
                margin-top: 50px;
                color: oldlace;
                text-align: center;
                font-size: 22px;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

            }
        </style>
    </head>
    <body background="/images/1.jpg" style="background-repeat: no-repeat; background-size:cover">
        <div style="width: 400px; height:500px; margin: auto; background-color:rgb(182, 126, 133); margin-top: 30px; border-radius: 25px;">
            <img src="/images/iti.jpg" style="border-radius: 50%; width: 150px; margin-left:120px;"/>
        <div id="data">
           
            <p id="personal"> Aya Ramadan Mohamed </p>
   
            <p id="personal">ayaramadan2019senior@gmail.com</p>
        </div>
        </div> 
    </body>
</html>